.card {
  background-color: #fcfcfc;
  border-radius: 0.375rem;
  position: relative;
  max-width: 24rem;
  margin-left: auto;
  margin-right: auto;
}
.button {
  width: 100%;
  margin-top: 0.5rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

@media (min-width: 640px) {
  .card {
    padding-bottom: 0.75rem;
    padding-top: 1.5rem;
    max-width: none;
    margin-left: 0;
    margin-right: 0;
  }
}
