.cell {
  white-space: nowrap;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 0.75rem;
  color: #9ca3af;
}

.cell-left {
  padding-left: 0rem;
  padding-right: 0.75rem;
  text-align: left;
}

.cell-middle {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  text-align: right;
}

.cell-right {
  padding-left: 0.75rem;
  padding-right: 0;
  text-align: right;
}
