.button {
  z-index: 10;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}

.image-static {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  pointer-events: none;
}

.button:hover .image-static {
  display: none;
}

.image-hover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
  pointer-events: none;
}

.button:hover .image-hover {
  display: block;
}
